.milkdown {
  max-width: 720px;
  min-height: 100vh;
  margin: 0 auto !important;
  text-rendering: optimizeLegibility;

  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  /* children */
  /* p,
  ul,
  ol {
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    margin-top: 1rem;
    line-height: 1.6;
  } */

  li {
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    line-height: 1.6;
  }

  /* Make images easier to work with */
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  a {
    color: rgb(var(--accent-color));
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-decoration-skip-ink: all;
      text-underline-offset: 4px;
    }
  }

  p > code,
  li > code {
    padding: 4px;
  }
  code {
    border-radius: 4px;
    outline: 1px solid rgba(var(--accent-color), 0.5);
    font-family: var(--monospace-font);
    font-size: 13px;
  }

  pre::before {
    position: absolute;
    content: attr(data-language);
    top: 1rem;
    right: 1rem;
    opacity: 30%;
  }
  pre {
    position: relative;
    font-size: 13px;
    outline: 1px solid rgba(var(--accent-color), 0.5);
    border-radius: 4px;
    background: rgba(var(--accent-color), 0.15);
    padding: 1rem 1rem 1rem 1rem;
    max-width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    code {
      max-width: 100%;
      word-break: break-all;
      /* unset */
      border-radius: none;
      outline: none;
      padding: none;
    }
  }

  blockquote {
    border-left: 4px solid rgba(var(--accent-color), 0.5);
    padding-left: 1rem;
    margin: 1.5rem 0;
    font-style: italic;
  }

  hr {
    border: none;
    border-bottom: 1px solid rgba(var(--text), 0.5);
  }

  .ProseMirror-selectednode {
    outline: 2px solid rgba(var(--accent-color), 0.75);
    outline-offset: 2px;
    border-radius: 2px;
  }

  /* shiki setup */

  [data-language] span {
    line-height: 150%;
    font-family: var(--monospace-font) !important;
  }

  @media (prefers-color-scheme: dark) {
    [data-language],
    [data-language] span {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
      font-family: var(--monospace-font) !important;
    }
  }
}
