.milkdown {
  /*  */
  .tableWrapper {
    overflow-x: auto;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  td,
  th {
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
    border: 1px solid rgba(var(--accent-color), 0.75);
    text-align: center !important;
  }
  .column-resize-handle {
    position: absolute;
    right: -3px;
    top: 0;
    bottom: 0;
    width: 6px;
    z-index: 20;
    background-color: rgba(var(--accent-color), 1);
    pointer-events: none;
  }
  .resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }
  /* TODO: */
  /* Give selected cells a blue overlay */
  .selectedCell:after {
    z-index: 2;
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* background: rgba(200, 200, 255, 0.4); */
    pointer-events: none;
  }
}
